spring:
  application:
    name: taskProject

  datasource:
    url: jdbc:mysql://localhost:3306/${DB_SCHEME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

springdoc:
    api-docs:
      enabled: true
      path: /api-docs # springdoc.api-docs.path
    swagger-ui:
      enabled: true
      path: /swagger-ui.html # springdoc.swagger-ui.path

jwt:
  secret:
    key: ${SECRET_KEY}

